 
 <style type="text/css">

   a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  text-decoration: none;
}


  .navbackground{
     background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.89);
-moz-box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.89);
box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.89);
position: fixed;
top: 0;
width: 100%;
z-index: 999;
  }



.navbar-brand1 {
  margin-right: 1rem;
  margin-top: 14px;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}


.logtins{
  color: #000; 
font-weight: 700;
font-family: 'Poppins', sans-serif;
}



.sectionname{
   text-align: left; 
   color: white; 
   position: relative; 
   top: 75px; 
   font-weight: 500; 
   font-size: 30px; 
   text-shadow: 1px 0px 6px rgba(0, 0, 0, 1);
}

.sectiondescrip{
  text-align: left; 
   color: white; 
   position: relative; 
   top: 80px; 
   font-weight: 300; 
   font-size: 18px; 
}

.descriphold{
  padding-top: 30px;
  padding-bottom: 30px;
}

.ctahold{
  margin: 30px;
  background-color: #2d76ed;
  border: 8px solid #77a9f9;
  border-radius: 12px;
  padding: 12px;
}

.websubmit{
  background-color: #43cc30;
  width: 80%;
  border-bottom: 2px solid #67f254;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.websubmit:hover{
  background-color: #43cc30;
  width: 80%;
  border-bottom: 3px solid #2ae00f;
  font-weight: 500;
  color: white;
}

.websubmit:active{
  background-color: #43cc30;
  width: 80%;
  border-bottom: 3px solid #2ae00f;
  font-weight: 500;
  color: white;
}

.leadsection{
  padding-left: 50px;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.registerbox{
  margin: 12px;
  background-color: #2d76ed;
  border: 8px solid #77a9f9;
  border-radius: 12px;
  padding: 12px;
}

.websubmit1{
  background-color: #43cc30;
  border-bottom: 2px solid #67f254;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.websubmit1:hover{
  background-color: #43cc30;
  border-bottom: 3px solid #2ae00f;
  font-weight: 500;
  color: white;
}

.websubmit1:active{
  background-color: #43cc30;
  border-bottom: 3px solid #2ae00f;
  font-weight: 500;
  color: white;
}

.headerlandfont{
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  color: #5cc804;
}

 .foothead{
      color: white;
     }

     .page-footer{
      
     }

  .abtinsmobile{
    display: none;
  }



@media only screen and (min-width : 100px) and (max-width : 600px) {

  .sectionname{
   text-align: left; 
   color: white; 
   position: relative; 
   top: 45px; 
   font-weight: 500; 
   font-size: 25px; 
   text-shadow: 1px 0px 6px rgba(0, 0, 0, 1);
}

.sectiondescrip{
  text-align: left; 
   color: white; 
   position: relative; 
   top: 50px; 
   font-weight: 300; 
   font-size: 18px; 
}

.abtins{
  display: none;
}

.abtinsmobile{
    display: block;
    margin-top: 50px;
  }

.ctahold{
  margin: 10px;

  background-color: #2d76ed;
  border: 8px solid #77a9f9;
  border-radius: 12px;
  padding: 12px;
}

.leadsection{
  padding-left: 10px;
  padding-top: 50px;
  padding-right: 10px;
  padding-bottom: 50px;
}

.headingholding{
  font-size: 25px;
}

.headerlandfont{
  font-size: 30px;
}


}


  </style>

  <body style="background-color: #f2f2f2;">

 <section class="navbackground">
      <div class="container">
    <p style="text-align: center;" class="navbar-brand1"><a class="navbar-brand1" href="/" style="text-align: center;"><img src="https://res.cloudinary.com/nikasemo/image/upload/v1510539413/loghelp_nyacwd.png" height="55px" width="146px" style="margin-right:5px; margin-top: 0px;">
          </a></p>
      </div>
    </section>
<br>
<br>
<br>
<br>
<br>
    <section class="leadmain">

      <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h1 style="text-align: center;" class="headerlandfont">Grow your Business Online!<br>
              Solution Oriented Websites that will help you get more sales, more customers, and more clients..</h1>
            </div>
          </div>
      </div>
    </section>
<br>
    <section class="sectionbody">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12">
        <div class="descriphold">
          
          <ul style="font-weight: 700; font-size: 18px; line-height: 30px;">
            <li>Your website is going to help you increase your sales!</li>
            <li>YOur website will position your business well online.</li>
            <li>Your website will help you reach your clients andd potential clients.</li>
            <li>Your website will promote your business to the world!</li>
          </ul>
           <p style="text-align: right;" class="abtins"><img src="https://res.cloudinary.com/nikasemo/image/upload/v1510555018/arrow_icriws.png"></p>
          <p style="text-align: center;" class="abtinsmobile"><img src="https://res.cloudinary.com/nikasemo/image/upload/v1510555452/ab1_zqs48b.png"></p>
        </div>
      </div>
      <div class="col-lg-5 col-md-12">
               <div class="ctahold">
          <h1 class="landingheader" style="font-weight: bold; text-align: center; color: white; font-size: 25px; margin-bottom: 25px;">Kindly fill this form.</h1>

       <%= form_for(@dream) do |f| %>
   <div class="form-group">
    <label style="font-weight: bold; color: white;">What type of website do you want?</label><br>
        <select class="selectpicker" name="dream[dreamtype]" id="dream_dreamtype" style="width: 100%;">
          <option name="dream[dreamtype]" id="dream_dreamtype" value="Personal Website">Personal Website</option>
          <option name="dream[dreamtype]" id="dream_dreamtype" value="Portfolio Website">Portfolio Website</option>
          <option name="dream[dreamtype]" id="dream_dreamtype" value="Company Website">Company Website</option>
          <option name="dream[dreamtype]" id="dream_dreamtype" value="Church Website">Church Website</option>
          <option name="dream[dreamtype]" id="dream_dreamtype" value="School Website">School Website</option>
          <option name="dream[dreamtype]" id="dream_dreamtype" value="Business Website">Business Website</option>
          <option name="dream[dreamtype]" id="dream_dreamtype" value="Ecommerce Web Applications">Ecommerce Web Applications</option>
          <option name="dream[dreamtype]" id="dream_dreamtype" value="Job Portal Web Applications">Job Portal Web Applications</option>
          <option name="dream[dreamtype]" id="dream_dreamtype" value="Customized Business Web Applications">Customized Business Web Applications</option>
        </select>
      </div>
       <div class="form-group">
    <label style="font-weight: bold; color: white;">What is your budget Allocation for your website?</label><br>
        <select class="selectpicker" name="dream[dreambudget]" id="dream_dreambudget" style="width: 100%;">
          <option name="dream[dreambudget]" id="dream_dreambudget" value="300 - 499">300 - 499 cedis</option>
          <option name="dream[dreambudget]" id="dream_dreambudget" value="500 - 699">500 - 699 cedis</option>
          <option name="dream[dreambudget]" id="dream_dreambudget" value="700 - 999">700 - 999 cedis</option>
          <option name="dream[dreambudget]" id="dream_dreambudget" value="1000 - 1499">1000 - 1499 cedis</option>
          <option name="dream[dreambudget]" id="dream_dreambudget" value="2000 - 3999">2000 - 3999 cedis</option>
          <option name="dream[dreambudget]" id="dream_dreambudget" value="4000 +">4000 cedis +</option>
        </select>
      </div>
  <hr>
<h4 style="font-weight: bold; text-align: center; color: white;">Your Contact Details</h4><hr>
  <div class="form-group">
    <div class="form-group">
    <label style="font-weight: bold; color: white;">Name</label>
    <input type="text" name="dream[dreamername]" id="dream_dreamername" class="form-control" placeholder="Your Name" required>
  </div>
    <label style="font-weight: bold; color: white;">Email</label>
<input type="email" name="dream[dreameremail]" id="dream_dreameremail" class="form-control" placeholder="Email Address" required>
  </div>
  <div class="form-group">
    <label style="font-weight: bold; color: white;">Phone Number</label>
    <input type="text" name="dream[dreamerphone]" id="dream_dreamerphone" class="form-control" placeholder="Your Phone number">
  </div>
  <br>
       <p style="color: #fff; text-align: center;">Response time is usually within an hour.</p> 
        <p style="text-align: center;"><button type="submit" class="btn btn-primary websubmit btn-lg">Submit Form</button></p>
      </div>
       
      
      <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

    <footer class="py-5 bg-dark page-footer">
      <div class="container">
        <div class="row">
        <div class="col-lg-4">
          <div class="innerfooter">
            <h5 class="foothead">About Us</h5>
            <ul style="list-style:none; padding-left:0;">
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">
              Help Ghanaian Businesses is a digital marketing agency that helps Ghanaian Businesses to leverage the power of the internet to grow their businesses.
            </a></li>
            </ul>
          </div>
        </div>
        
        <div class="col-lg-4">
          <div class="innerfooter">
           
            <ul style="list-style:none; padding-left:0;">
           
            </ul>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="innerfooter">
             <h5 class="foothead">Visit Our Social Media</h5>
             <span><a href=""><i class="fa fa-facebook-official fa-2x" style="color: white; margin-right: 5px;" aria-hidden="true"></i></a></span>
             <span><a href=""><i class="fa fa-twitter-square fa-2x" style="color: white; margin-right: 5px;" aria-hidden="true"></i></a></span>
             <span><a href=""><i class="fa fa-instagram fa-2x" style="color: white; margin-right: 5px;" aria-hidden="true"></i></a></span>
             <span><a href=""><i class="fa fa-google-plus-square fa-2x" style="color: white; margin-right: 5px;" aria-hidden="true"></i></a></span>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 30px;">
        <div class="col-sm-12">
        <p class="m-0 text-center text-white">Copyright &copy; Help Ghanaian Businesses, 2017</p>
      </div>
    </div>
      </div>
      <!-- /.container -->
    </footer>

  </body>