
<style type="text/css">
	
.letsworkhead{
	text-align: center;
	font-size: 70px;
	font-weight: 700;
	color: #5cc804;
	font-family: 'Poppins', sans-serif;
}

hr.worksdivider{
  height: 4px;
  background-color: #5cc804;
  border: 1px solid #5cc804;
  width: 10%;
}

.letsworksub{
	font-weight: 300;
	font-size: 22px;
	text-align: center;
	color: #6c6c6d;
	font-family: 'Poppins', sans-serif;
}

.informationadded{
    background-color: #5cc804;
    padding-top: 50px;
    padding-bottom: 50px;
}

.landhypes{
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  color: white;
}

.infoaddlh{
  font-family: 'Asap Condensed', sans-serif;
  text-align: justify;
  font-size: 18px;
  line-height: 30px;
  color: white;
}

.exphead{
  color: #5cc804;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
}

.expdescri{
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
  line-height: 24px;
}

.expertadvicesection{
  background-color: white;
  padding: 50px;
}

.famcolor{
  background-color: #fdca00;
  color: white;
  border: 1px solid #fdca00;
}

.famcolor:hover{
  background-color: #fdca00;
  color: white;
  border: 2px solid #5cc804;
}

.famcolor:active{
  background-color: #fdca00;
  color: white;
  border: 1px solid #5cc804;
}

.adonis{
	padding: 10px;
}

.btnshadow{
	-webkit-box-shadow: 0px 6px 22px 4px rgba(0,0,0,0.37);
-moz-box-shadow: 0px 6px 22px 4px rgba(0,0,0,0.37);
box-shadow: 0px 6px 22px 4px rgba(0,0,0,0.37);
text-transform: uppercase;
font-size: 15px;
font-weight: 700;
}


</style>

<br><br><br><br>

<h1 class="letsworkhead">Services We also Provide.</h1>
<br>
<hr class="worksdivider">
<br>
<p class="letsworksub">
We also realized you will need these services to help your brand fulfill some of its goals. <br> Look through and see which best fits for you.
</p><br><br><br>

<section class="informationadded">
      <h1 style="text-align: center; font-family: 'Poppins', sans-serif; color: #fff;">How you can be successful online?</h1>
      <p style="text-align: center; font-family: 'Asap Condensed', sans-serif; font-size: 18px; color: #fff;">
        By doing and having these, your success online is rest assured!!
      </p>
      <br>
<div class="container">
    <div class="row">
        <div class="col-md-4 co-lg-4 col-sm-12">
            <div class="informationhypecontainer">
              <img src="https://res.cloudinary.com/nikasemo/image/upload/v1509113874/havingwebsite1_h4tnk4.jpg" class="img-fluid" style="margin-bottom: 20px; border-radius: 15px;">
                <h4 class="landhypes">Having a Website.</h4>
                <p class="infoaddlh">
                 A website is a prerequisite for success online. Just as you have a physical office, in that same way you would want to have a website. A website is your location on the internet. With all the millions of Ghanaians visiting the internet everyday you wouldnt want to miss this oportunity that brings.                
                </p>
                <br>
                <p><a href="/expertleads/new" class="btn btn-primary adonis famcolor btnshadow">Get your website Today!</a></p>
            </div>
        </div>
        <div class="col-md-4 co-lg-4 col-sm-12">
            <div class="informationhypecontainer">
                <img src="https://res.cloudinary.com/nikasemo/image/upload/v1509113874/social1_laca1j.jpg" class="img-fluid" style="margin-bottom: 20px; border-radius: 15px;">
                <h4 class="landhypes">Social Media and SEO.</h4>
                <p class="infoaddlh">
                 Social media and search engines are the primary places people visit when they come to the internet. You are not an exception. We spend most of our internet time on platforms like facebook, whatsapp, instagram and the likes. Businesses have to use this to their advantage to grow and expand.
                </p>
                <br>
                <p><a href="/expertleads/new" class="btn btn-primary adonis famcolor btnshadow">Start Social Media Marketing Today!</a></p>
            </div>
        </div>
        <div class="col-md-4 co-lg-4 col-sm-12" style="margin-bottom: 20px;">
            <div class="informationhypecontainer">
                <img src="https://res.cloudinary.com/nikasemo/image/upload/v1509113874/email1_yvr4vl.jpg" class="img-fluid" style="margin-bottom: 29px; border-radius: 15px;">

                <h4 class="landhypes">Email Marketing.</h4>
                <p class="infoaddlh">
                 Email marketing has been one of the oldest ways of marketing on the internet. I am yet to see someone who does not have an email address. Email re-engages and build customer trust. As a business, you can leverage the power of email marketing to grow your business in a great way.
                </p>
                <br>
                <p><a href="/expertleads/new" class="btn btn-primary adonis famcolor btnshadow">Start Email Marketing Today!</a></p>
            </div>
        </div>
    </div>
  </div>
</section>

<section class="expertadvicesection">
  
  <div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-6">
      <h1 class="exphead">Getting Expert Advice</h1>
      <p class="expdescri">Meet other Experts in digital marketing who will give you the latest information and development in the space. Information that can help you 10X your business within the span of 1 year. Subscribe to get expert advice Today!</p>
      <p><a href="/expertleads/new" class="btn btn-primary adonis famcolor">Get Expert Advice</a></p>
    </div>
    <div class="col-sm-12 col-lg-6">
      <img src="https://res.cloudinary.com/nikasemo/image/upload/v1514741594/businessman_dymrah.jpg" class="img-fluid">
    </div>
  </div>
  </div>

</section>



