<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Dream Email</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body style="margin: 0; padding: 0; background-color: #f2f2f2;">
 <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
   <td style="padding: 20px 0 30px 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc;">
 <tr>
  <td align="center" bgcolor="#ffffff" style="padding: 0px 0 0px 0;">
   <img src="https://res.cloudinary.com/nikasemo/image/upload/v1512460274/emailheader_yvfa4f.jpg" alt="Help Ghanaian Busines Logo" width="100%" height="100%" style="display: block;" />
  </td>
 </tr>
 <tr>
  <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
    Hi <%= @dream.dreamername %>,<br> 
   I hope you are doing great. Websites are an essential part of your presence online because it is your company’s front view to all visitors that come to it. It is your gateway to the internet. It has to be great!
Many companies and individuals always sit and ponder on whether they need a website. In these times and season, there shouldn’t be any deliberation, your business needs a website, In my personal opinion. One reason we shy away from websites is that we seldom know how it can benefit us directly. It is kind of glorified that companies and individuals need websites but we want to know why exactly we need it and how we can leverage its power to build our businesses and brands on the internet. We are well aware of how many of our customers and potential customers use the internet. The real question we are all asking is this; “How can I use my website, leveraging the internet to grow my business greatly??”.
<br><br>
   <span style="font-weight: 700;">Whats next now?</span><br>
   Visit this link to learn more about websites and ways in which they benefit you and make your work easier. 
   <br><br>
   Thank you.

   <br><br>
   Best regards,<br>
   Bernard Lomo (Founder).<br><br><br>
  
  </td>
 </tr>
 <tr>
  <td bgcolor="#343a40" style="padding: 40px 30px 40px 30px;">
   <table border="0" cellpadding="0" cellspacing="0" width="100%">
 <tr>
  <td width="75%">
  <span style="color: #f2f2f2;">&reg; Help Ghanaian Businesses, 2017</span><br/>
</td>
  <td align="right">
 <table border="0" cellpadding="0" cellspacing="0">
  <tr>
   
   <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
   <td>
    <a href="https://web.facebook.com/helpGhanaianBusinesses/">
     <img src="https://res.cloudinary.com/nikasemo/image/upload/v1512460034/fblogo_qivpnj.png" alt="Facebook" width="38" height="38" style="display: block;" border="0" />
    </a>
   </td>
  </tr>
 </table>
</td>
 </tr>
</table>
  </td>
 </tr>
</table>
   </td>
  </tr>
 </table>
</body>


</html>