<style type="text/css">
	
.letsworkhead{
	text-align: center;
	font-size: 70px;
	font-weight: 700;
	color: #5cc804;
	font-family: 'Poppins', sans-serif;
}

.letsworksub{
	font-weight: 300;
	font-size: 22px;
	text-align: center;
	color: #6c6c6d;
	font-family: 'Poppins', sans-serif;
}

</style>


<body style="background-color: #ffffff;">

<br><br><br><br>

<h1 class="letsworkhead">let's Work!</h1>
<br><br>
<p class="letsworksub">Let's get to work on your website. Please answer a couple of short questions <br>about you and your project.</p><br><br><br>
<div class="container">
	<div class="row">
       <div class="col-sm-12">
<%= render 'form', web: @web %>
       </div>
   </div>
</div>
<br>
<br>
<br>

</body>