
<title>helpbusinessesonline.com | Ghana and Africa's foremost website showing business owners how to leverage the internet to grow their businesses</title>
<meta name="description" content="Helping Businesses in Africa understand the internet and helping them use it to grow their businesses greatly.">
      <meta name="keywords" content="Websites, Digital marketing, Digital marketing Ghana, Email marketing, help businesses online, business Africa, Business Ghana, Websites Ghana">
      <meta name="author" content="helpbusinessesonline.com">
      <meta property="og:title" content="helpbusinessesonline.com | Ghana and Africa's foremost website showing business owners how to leverage the internet to grow their businesses">
      <meta property="og:description" content="Helping Businesses in Africa understand the internet and helping them use it to grow their businesses greatly.">
      <meta property="og:url" content="https://helpghanaianbusinesses.com/" />
     <meta property="og:image" content="https://res.cloudinary.com/nikasemo/image/upload/v1514703067/2-4_rfzvf1.jpg" />

<style type="text/css">

.homeer{
  margin-top: 70px;
}

.holderimg{
 background:linear-gradient(0deg,rgba(0,0,0,0),rgba(0,0,0,0)),url(https://res.cloudinary.com/nikasemo/image/upload/v1511884876/businessdiscuss_wmdztp.png);
  background-position:center;
  min-height: 350px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
}

.topthingstoknow{
  width: 100%;
  background-color: white;
  padding: 20px;
  border-top: 7px solid #5cc804;
  position: relative;
  top: 0px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.21);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.21);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.21);
}

.exphead{
  color: #5cc804;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
}

.expdescri{
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
  line-height: 24px;
}

.expertadvicesection{
  background-color: white;
  padding: 50px;
}

.containit{
  margin-left: 40px;
  margin-right: 40px;
}

.famcolor{
  background-color: #5cc804;
  color: white;
  border: 1px solid #5cc804;
}

.famcolor:hover{
  background-color: #fdca00;
  color: white;
  border: 2px solid #5cc804;
}

.famcolor:active{
  background-color: #fdca00;
  color: white;
  border: 1px solid #5cc804;
}

.titler{
  position: relative;
  top: 100px;
  font-size: 30px;
  font-weight: 700;
  margin-left: 30px;
  color: white;
  text-shadow: 1px 0px 6px rgba(0, 0, 0, 1);
  font-family: 'Roboto Slab', serif;
}

.subtler{
  position: relative;
  top: 100px;
  font-size: 18px;
  font-weight: 400;
  margin-left: 30px;
  color: white;
  text-shadow: 1px 0px 6px rgba(0, 0, 0, 1);
}

.ctaone{
  position: relative;
  top: 120px;
  margin-left: 30px;
  float: left;
}

.adonis{
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
}

.sidebarhome{
  padding-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
}

.stepss{
  margin-top: 15px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 15px;
}

.servss{
  color: #595959;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 15px;
}

.icon1desc{
  height: 80px;
  width: 80px;
  background-color: #d9d9d9;
  border-radius: 50%;
}

.blogimgpart{
  width: 100%;
}

.olblogs{
  padding: 50px;
  background-color: white;
}

.blogpart{
  width: 100%;
  background-color: white;
  padding: 20px;
  margin-top: 15px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.21);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.21);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.21);
}

.homeer{
  padding-bottom: 35px;
}

.alertthismsg{
  padding: 50px;
  background-color: #f2f2f2;
}

.alertmsgmsg{
  font-weight: 500;
  font-size: 29px;
  font-family: 'Lora', serif;
  line-height: 40px;
}

@media only screen and (min-width : 100px) and (max-width : 600px) {

.homeer{
  margin-top: 0px;
}

.containit{
  margin-left: 0px;
  margin-right: 0px;
}

.topthingstoknow{
  width: 100%;
  background-color: white;
  padding: 20px;
  border-top: 7px solid #5cc804;
  position: relative;
  top: 0px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.21);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.21);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.21);
}

.holderimg{
 background:linear-gradient(0deg,rgba(0,0,0,0),rgba(0,0,0,0)),url(https://res.cloudinary.com/nikasemo/image/upload/v1511884876/businessdiscuss_wmdztp.png);
  background-position:center;
  min-height: 280px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
}

.titler{
  position: relative;
  top: 45px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 30px;
  color: white;
  text-shadow: 1px 0px 6px rgba(0, 0, 0, 1);
  font-family: 'Roboto Slab', serif;
}

.subtler{
  position: relative;
  top: 45px;
  font-size: 15px;
  font-weight: 400;
  margin-left: 30px;
  color: white;
  text-shadow: 1px 0px 6px rgba(0, 0, 0, 1);
}

.rmorer a:hover{
  color: #fdca00;
}

.ctaone{
  position: relative;
  top: 50px;
  margin-left: 30px;
  float: left;
}

.margdown{
  margin-bottom: 20px;
}

.margtop{
  margin-top: 25px;
}

.alertmsgmsg{
  font-weight: 500;
  font-size: 20px;
  font-family: 'Lora', serif;
  line-height: 30px;
}

.alertthismsg{
  padding: 25px;
  background-color: #f2f2f2;
}

.blogimgpart{
  width: 100%;
  margin-bottom: 15px;
}

.servss{
  color: #595959;
  font-size: 20px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 20px;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 15px;
}

.propsser{
  margin-left: 10px;
}

.icon1desc{
  height: 80px;
  width: 80px;
  background-color: #d9d9d9;
  border-radius: 50%;
  margin-bottom: 15px;
}
 
}

</style>

<section class="homeer">
<div class="containit">
<div class="row">
  <div class="col-lg-9">
    <div class="row">
      <div class="col-sm-12">
        <div class="holderimg">
          <p class="titler">Grow your Business online!<br>By using Proven Online Tactics and Ways.</p>
          <p class="subtler">All the expert articles, advice and services needed for you and your business to succeed online.</p>
          <p class="ctaone"><a href="/users/sign_up" class="btn btn-primary adonis famcolor">Join Our Business Community!</a></p>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="row" style="margin-top: 10px;">
          <div class="col-lg-5">
             <h3 class="servss">Other Services We Provide</h3>
            <div class="row propsser">
              <div class="col-sm-4">
                <div class="icon1desc">
                  <i class="fa fa-desktop fa-2x" style="color: #ffffff; position: relative; top: 25px; left: 22px;" aria-hidden="true"></i>
                </div>
              </div>
              <div class="col-sm-8">
                <h2 style="font-weight: 700; font-size: 16px;">Website Services</h2>
                <p>Get the best websites created for you that will help grow your business.</p>
                <p><a href="/helpbusinessesgrow" class="btn btn-primary adonis famcolor">Get a Quote</a></p>
              </div>
            </div>
            <div class="row propsser" style="margin-top: 15px; border-top: 1px solid #e6e6e6; padding-top: 15px;">
              <div class="col-sm-4">
                <div class="icon1desc">
                  <i class="fa fa-facebook fa-2x" style="color: #ffffff; position: relative; top: 25px; left: 27px;" aria-hidden="true"></i>
                </div>
              </div>
              <div class="col-sm-8">
                <h2 style="font-weight: 700; font-size: 17px;">Facebook Marketing</h2>
                <p>Get the best from facebook marketing. Increase sales while building your brabd equity.</p>
                <p><a href="/fbadvertisementsleads" class="btn btn-primary adonis famcolor">Get a Quote</a></p>
              </div>
            </div>
            <div class="row propsser" style="margin-top: 15px; border-top: 1px solid #e6e6e6; padding-top: 15px;">
              <div class="col-sm-4">
                <div class="icon1desc">
                  <i class="fa fa-envelope fa-2x" style="color: #ffffff; position: relative; top: 25px; left: 22px;" aria-hidden="true"></i>
                </div>
              </div>
              <div class="col-sm-8">
                <h2 style="font-weight: 700; font-size: 17px;">Email Marketing</h2>
                <p>Get the best email marketing strategies applied to your campaigns to increase your sales.</p>
                <p><a href="" class="btn btn-primary adonis famcolor">Get a Quote</a></p>
              </div>
            </div>
          </div>
          <div class="col-lg-7">
            <h3 class="servss">Latest Articles</h3>
            <div class="blogpart">
             
            <%= render @articles %>
          </div> 
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="topthingstoknow">
      <h2 style="font-weight: 500;" class="sidebarhome">Important things to know! First!</h2>
      <div class="row">
      <div class="col-sm-12">
        <div class="stepss">
          <p style="font-weight: 700;">Websites and how they can grow your business</p>
        <span style="color: #9b9999; font-weight: 500; font-size: 13px;">Websites and how they can grow your business Websites and how they can grow your business</span>
        <br>
        <a href="" style="color: #5cc804; font-weight: 700; font-size: 12px;" class="rmorer">Read More</a>
      </div>
      <div class="stepss">
        <p style="font-weight: 700;">Websites and how they can grow your business</p>
        <span style="color: #9b9999; font-weight: 500; font-size: 13px;">Websites and how they can grow your business Websites and how they can grow your business</span>
        <br>
        <a href="" style="color: #5cc804; font-weight: 700; font-size: 12px;">Read More</a>
      </div>
      <div class="stepss">
        <p style="font-weight: 700;">Websites and how they can grow your business</p>
        <span style="color: #9b9999; font-weight: 500; font-size: 13px;">Websites and how they can grow your business Websites and how they can grow your business</span>
        <br>
        <a href="" style="color: #5cc804; font-weight: 700; font-size: 12px;">Read More</a>
      </div>
      <div class="stepss">
        <p style="font-weight: 700;">Websites and how they can grow your business</p>
        <span style="color: #9b9999; font-weight: 500; font-size: 13px;">Websites and how they can grow your business Websites and how they can grow your business</span>
        <br>
        <a href="" style="color: #5cc804; font-weight: 700; font-size: 12px;">Read More</a>
      </div>
      <div class="stepss">
        <p style="font-weight: 700;">Websites and how they can grow your business</p>
        <span style="color: #9b9999; font-weight: 500; font-size: 13px;">Websites and how they can grow your business Websites and how they can grow your business</span>
        <br>
        <a href="" style="color: #5cc804; font-weight: 700; font-size: 12px;">Read More</a>
      </div>
      </div>
    </div>
    </div>
  </div>
</div>
</div>
</section>

<section class="olblogs">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
            <h3 class="servss">Digital Marketing</h3>
            <div class="blogpart">
             
            <%= render @articles %>
          </div> 
        </div>
        <div class="col-lg-4">
            <h3 class="servss">Websites</h3>
            <div class="blogpart">
             
            <%= render @articles %>
          </div> 
        </div>
        <div class="col-lg-4">
            <h3 class="servss">Facebook Marketing</h3>
            <div class="blogpart">
             
            <%= render @articles %>
          </div> 
        </div> 
    </div>
  </div>
</section>

<section class="alertthismsg">

<h1 style="text-align: center;" class="alertmsgmsg">Ghanaian Businesses, both big and small depend<br> on <span style="color: #5cc804; font-weight: 700;">Helpghanaianbusinesses.com</span> for great advice,<br> relevant articles and other services they need to<br> grow their business online.<br>Join Ghana's Business Community.</h1>

</section>


<section class="expertadvicesection">
  
  <div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-6">
      <h1 class="exphead">Getting Expert Advice</h1>
      <p>Meet other Experts in digital marketing who will give you the latest information and development in the space. Information that can help you 10X your business within the span of 1 year. Subscribe to get expert advice Today!</p>
      <p><a href="" class="btn btn-primary adonis famcolor">Get Expert Advice</a></p>
    </div>
    <div class="col-sm-12 col-lg-6">
      <img src="https://res.cloudinary.com/nikasemo/image/upload/v1514741594/businessman_dymrah.jpg" class="img-fluid">
    </div>
  </div>
  </div>

</section>


