<h1>New Article</h1>
<br><br>
<br>
<h1 style="text-align: center;">New Blog Post</h1>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
<%= render 'form', article: @article %>

</div>
</div>
</div>

