<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Email Course</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body style="margin: 0; padding: 0; background-color: #ffffff;">
 <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
   <td style="padding: 20px 0 30px 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 0px solid #f2f2f2;">
 <tr>
  <td align="center" bgcolor="#ffffff" style="padding: 0px 0 0px 0;">
   <img src="https://res.cloudinary.com/nikasemo/image/upload/v1520408311/emailheaderhbo_iobwqq.jpg" alt="Help Ghanaian Busines Logo" width="100%" height="100%" style="display: block;" />
  </td>
 </tr>
 <tr>
  <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px; font-size: 16px; font-weight: 400; line-height: 25px; 
  color: #5d5f60; font-family: Arial, Helvetica, sans-serif;">
    

<span style="font-weight: 700; font-size: 14px;">[Lesson 5 <span style="font-weight: 300;">out of</span> 7]</span><br><br>

<span style="font-weight: 700">Actionable Assets for a Successful Online Marketing and Audience Building.</span>
<br><br>
<span style="font-style: italic;">As we all see now, the growth of the internet and its usage has been phenomenal over the years. It is estimated that about 8 million Ghanaians use the internet every day.</span> 
<br><br>

Whether you are into real estate, insurance, banking, commodities, consumer goods etc, your customers are using the internet everyday and everytime. There is a more greater reason to have a presence on the internet. Here are some tools that will arm you with the power to unleash the power of internet based growth in your business.
<br><br>

<span style="font-weight: 700">1. Having a Website</span><br><br>
Websites have become a necessary instrument for every successful internet presence. It is a basic and a required pre-requisite for online success. A website is the gateway between every brand and the internet. It must be great! Just like having an office in the physical world, so is owning a website in the digital world.<br><br> A website is your own real estate in the digital world on which you can build. Having a website gives you the needed exposure by putting you company to the whole wide world. You can receive requests from all parts of the globe. Let’s look at it this way. If you put up a billboard to promote your product it will cost not less than 5000 cedis. Your billboard is limited as to whom can see it.<br><br> A good website will cost you way less. And here is the catch....... everyone from every part of the world can see it. You become unlimited. And websites can do just more than promoting your brand. They can be used as engines and drivers for various parts of your business like sales, customer support, news  and so on. Your possibilities with a website are unlimited.
<br><br>

<span style="font-weight: 700"> 2. Driving customers to your website with SEO (Search Engine Optimization)</span><br><br>
Many people search for solutions and answers to their problems. Many people will search for your business. You have to make sure they find you. You are their solution. We have all searched or better still we always search the internet for things we want. Most of us never go beyond the first page of the search results page.<br><br> Anytime you search for on google or any other search engine, the order in which search results are displayed is based on complex algorithms. These search engines take into consideration a number of factors into account before deciding which website to show first, second, third and subsequently.<br><br> Truth is that you may not be the only person providing that service or selling that product. When customers search for terms relating to your business, it should be your aim to appear in at least the first five websites the search engines pick. This means more traffic to your website, more visitors, implying more sales or more client requests.
<br><br>

<span style="font-weight: 700">3. Engaging your customers and building your fan base with social media.</span><br><br>
We are all on one social media platform or the other. Facebook, WhatsApp, twitter, Instagram, just to mention a few. We all have emails too. It is time businesses start leveraging this to their advantage. We all own a social media account. Whether it is Facebook, twitter, Instagram, WhatsApp or even all.<br><br>We also have email accounts too. Whether it is a Gmail account or a Yahoo account. There are over ten million Ghanaians who visit the internet every day. Out of this, five million of them visit Facebook every day. 86% of Ghanaians who are on who are on the internet have social media accounts. They could be on Facebook, WhatsApp, Instagram, Twitter or anywhere. These include your customers and everyone who could be your customer. <br><br>The more reason you should capitalize on this opportunity and take siege of these platforms to get to your customers and your potential customers. if you are not taking steps, it could be that your competition has taken steps already or is already there.
<br><br>

<span style="font-weight: 700">4. Re-engaging your clients and customers with Email marketing.</span><br><br>
Email marketing is one method of growing your Internet business that seems like it will last forever. Although gaining a dedicated following can take a long time, brands with large email lists know that there is great value in this method. 
 <br><br>
In this digital era, the email inbox is one of the most frequently accessed locations on the Internet. Email’s effectiveness seems to stem from its ability to put your company right where it matters most: a customer’s inbox. When a customer opts-in to your email list, they are saying that they want to give your messages some real estate in their inbox – so you should definitely take advantage of it!
 <br><br>
By sending out periodic emails about new products, specials or sales, and interesting additions to your website, you can drive shoppers back for repeat purchases. Emails can also easily be forwarded to others, so subscribers to your list might send one of your marketing messages to a friend or family member if they spot something of interest to them. That can lead to more subscriptions, more clicks, and more sales.
 <br><br>
Email marketing is a proven way to drive sales and encourage repeat visitors. Just be careful not to overwhelm your subscribers! Brands should test their email effectiveness to determine the right timing and frequency of their messages. If you send out too many emails, you risk annoying your customers – but not enough, and they may forget you completely.

<br><br>
<span style="font-weight: 700;">Now that you know what to do you have to set yourself up for success, our next lesson will show you what to do and what means to use to set up yourself for success as a business in this terrain. Keep looking at this space. See you in your inbox tomorrow!</span>


<br>
<br>
Best regards,<br>
Bernard.<br>
<a href="https://helpbusinessesonline.com/">Help Businesses Online</a>
<br>


    
  </td>
 </tr>
 <tr>
  <td bgcolor="white" style="padding: 40px 30px 40px 30px; text-align: center; font-size: 12px; 
  font-family: Arial, Helvetica, sans-serif;">
   <table border="0" cellpadding="0" cellspacing="0" width="100%">
 <tr>
  <td width="100%">
  <span style="color: #8c8c8c;">To make sure you keep getting these emails, please add bernard@helpbusinessesonline.com to your address book or whitelist us. Want out of the loop? Unsubscribe.
<br><br>
Our postal address: P.O.Box AN 8511, Accra - North, Ghana</span><br/>
</td>
  
 </tr>
</table>
  </td>
 </tr>
</table>
   </td>
  </tr>
 </table>
</body>


</html>