<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Email Course</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body style="margin: 0; padding: 0; background-color: #ffffff;">
 <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
   <td style="padding: 20px 0 30px 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 0px solid #f2f2f2;">
 <tr>
  <td align="center" bgcolor="#ffffff" style="padding: 0px 0 0px 0;">
   <img src="https://res.cloudinary.com/nikasemo/image/upload/v1520408311/emailheaderhbo_iobwqq.jpg" alt="Help Ghanaian Busines Logo" width="100%" height="100%" style="display: block;" />
  </td>
 </tr>
 <tr>
  <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px; font-size: 16px; font-weight: 400; line-height: 25px; 
  color: #5d5f60; font-family: Arial, Helvetica, sans-serif;">
    

<span style="font-weight: 700; font-size: 14px;">[Lesson 4 <span style="font-weight: 300;">out of</span> 7]</span><br><br>

<span style="font-weight: 700">The new approach to marketing | Internet Marketing </span>
<br><br>
<span style="font-style: italic;">The way marketing is being done in this day and age is bound to change. At the end of the day we are all looking for marketing that yields results.</span> 
<br><br>

If it is sales we want in our business, our marketing efforts should reflect that. If it is brand awareness we are trying to achieve, our marketing efforts should help achieve that. Many times, it is not very clear how to achieve these results.
Personally, I believe all our marketing efforts should be geared towards one thing, Audience Building.<br><br> In audience building we have to build a following of people who are related to our brand and are likely to buy from us (If not right away maybe sometime later).<br><br>
The same way businesses advertise on radio and TV programs because the want to reach a particular audience, in that same light, you have to build an audience for your business using the internet. This time you own the audience, nobody charges you to reach to them and you can market to them at little to no cost to your business.<br><br> It even gets more interesting from here, just as companies go and advertise on Kwame Despite’s TV and radio stations, other companies who are interested in your audience will also want to pay you money to market their products. It is becomes a win win situation for you.<br><br>
Now that we understand Audiences and know how the can benefit us, let’s ask ourselves the most important questions now. 
Do our customers and potential customers use the internet in any form or way (Facebook, Whatsapp, Google, Instagram, twitter, ghanaweb and son on)? If your answer is yes you have to proceed reading.<br><br>
In as much as we all believe in TV and radio advertisements, in my own opinion I think they are dead, or even if they work, theye ar less effective. Secondly, the entry cost is very high (it can cost you above 10,000 cedis a week on TV and radio stations)<br><br>
But I want to ask you, how many times do you spend consuming TV and Radio? Where customers and clients can be found have evolved over the years. At first we found customers through newspapers and magazines, then radio stations, then TV stations. Now our customers spend all their time on the internet. Why have we not made great effort trying to capture these people.
<br><br> We are all sleeping on a gold mine and it is time we woke up. With one of my clients, we managed to cut his advertising budget by almost 90% and we gave him results that his previous advertising budget has never before. (From 10,000 cedis to 1000 cedis)

<br><br>
<span style="font-weight: 700;">In tomorrow’s lesson, we will show you actionable assets every business needs in order to be successful building an audience and marketing to it online. Don’t miss it! See you tomorrow in your inbox!</span>


<br>
<br>
Best regards,<br>
Bernard.<br>
<a href="https://helpbusinessesonline.com/">Help Businesses Online</a>
<br>
<br>
<span style="font-weight: 700">P.S.</span> We are giving business owners an in into our special offer for businesses who wants to take their brand on the internet to the next level. You are assure of increased sales in whatever your businesses offers – or nothing for us. Follow this link to learn more about this offer.<br>
<span style="font-weight: 700"><a href="https://helpbusinessesonline.com/landbyknowing">Making sales with the Internet and growing your business.</a></span>

    
  </td>
 </tr>
 <tr>
  <td bgcolor="white" style="padding: 40px 30px 40px 30px; text-align: center; font-size: 12px; 
  font-family: Arial, Helvetica, sans-serif;">
   <table border="0" cellpadding="0" cellspacing="0" width="100%">
 <tr>
  <td width="100%">
  <span style="color: #8c8c8c;">To make sure you keep getting these emails, please add bernard@helpbusinessesonline.com to your address book or whitelist us. Want out of the loop? Unsubscribe.
<br><br>
Our postal address: P.O.Box AN8511, Accra - North, Ghana</span><br/>
</td>
  
 </tr>
</table>
  </td>
 </tr>
</table>
   </td>
  </tr>
 </table>
</body>


</html>