<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Email Course</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body style="margin: 0; padding: 0; background-color: #ffffff;">
 <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
   <td style="padding: 20px 0 30px 0;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 0px solid #f2f2f2;">
 <tr>
  <td align="center" bgcolor="#ffffff" style="padding: 0px 0 0px 0;">
   <img src="https://res.cloudinary.com/nikasemo/image/upload/v1520408311/emailheaderhbo_iobwqq.jpg" alt="Help Ghanaian Busines Logo" width="100%" height="100%" style="display: block;" />
  </td>
 </tr>
 <tr>
  <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px; font-size: 16px; font-weight: 400; line-height: 25px; 
  color: #5d5f60; font-family: Arial, Helvetica, sans-serif;">
    

<span style="font-weight: 700; font-size: 14px;">[Lesson 3 <span style="font-weight: 300;">out of</span> 7]</span><br><br>

<span style="font-weight: 700">Creating an Audience for your Business (The multi-million/billion strategy)</span>
<br><br>
<span style="font-style: italic;">You want customers/clients for your business right? How then do you get an exceeding flow of customers to your business? Let’s ask one of Ghana’s legendary entrepreneurs, Osei Kwame Despite!</span> 
<br><br>

Kwame despite has focused his business around his media empire but is his media empire his main business or just an arbitrage to win advantage on the market?
<br><br>
Despite has businesses that are directly consumer focused. His Businesses range from beverages, to staples, to banking, insurance and a whole lot more. With his enormous media empire as the backbone, he can reach an enormous number of people every day telling them about how great his products are. Now here is an example where great marketing meets great product.<br><br> Despite has the biggest businesses in Ghana especially in retail not necessarily because he has the best product on the market, but because he has the best marketing machine in Ghana (His media reach).<br><br>

<span style="font-weight: 700">Build Audiences for free. Yeah! The internet has made it so.</span><br><br>

The internet now gives every business their own way to replicate Osei Kwame Despite’s model of building a business through building an Audiences and it is free of charge. All you need is a good website, social media and a means of getting traffic to your website. Sounds easy, right? Don’t be deceived. <br><br>Audiences should be built with the right strategy in mind else you will end up wasting your precious time and resources.<br><br>
The reason his competition cannot get anywhere near him is that he has managed to establish brand equity with the people who listen and watch his TV and radio channels. Secondly he spends little to no money on advertising which affords him to even sell his products for less and still make a great profit. <br><br>Anyone looking to beat him has to beat down their spending on advertising which in many ways is quite impossible.<br><br>

<span style="font-weight: 700">The Biggest “f*ck you” you can ever say to your competition.</span>
<br><br>
Thirdly, he is monetizing right off the bat, meaning, he can get people to pay for the running of his radio and TV stations by them paying to promote their products (Including his competition) to his audience reach. You are paying him literally to stay ahead of you in the game.<br><br>
How can a man like Osei Kwame Despite loose if he has all these forces working for Him?
<br><br>

<span style="font-weight: 700">Don’t wear a fools cap. There is opportunity on the Land of the internet!</span>
<br><br>
The internet creates a perfect opportunity for you to create an Audience for your business, sell to them directly and even monetize from your them too. 
Sounds interesting right?
<br><br>
<span style="font-weight: 700;">We will continue our next lesson tomorrow. I will talk about the new approach to marketing in our day and age and why you have to embrace is. We can only look forward and not backward. See you tomorrow in your inbox!
</span>


<br>
<br>
Best regards,<br>
Bernard.<br>
<a href="https://helpbusinessesonline.com/">Help Businesses Online</a>
<br>
<br>
<span style="font-weight: 700">P.S.</span> We are giving business owners an in into our special offer for businesses who wants to take their brand on the internet to the next level. You are assure of increased sales in whatever your businesses offers – or nothing for us. Follow this link to learn more about this offer.<br>
<span style="font-weight: 700"><a href="https://helpbusinessesonline.com/landbyknowing">Making sales with the Internet and growing your business.</a></span>
  </td>
 </tr>
 <tr>
  <td bgcolor="white" style="padding: 40px 30px 40px 30px; text-align: center; font-size: 12px; 
  font-family: Arial, Helvetica, sans-serif;">
   <table border="0" cellpadding="0" cellspacing="0" width="100%">
 <tr>
  <td width="100%">
  <span style="color: #8c8c8c;">To make sure you keep getting these emails, please add bernard@helpbusinessesonline.com to your address book or whitelist us. Want out of the loop? Unsubscribe.
<br><br>
Our postal address: P.O.Box AN8511, Accra - North, Ghana</span><br/>
</td>
  
 </tr>
</table>
  </td>
 </tr>
</table>
   </td>
  </tr>
 </table>
</body>


</html>