<style type="text/css">
.aduins{
 background:linear-gradient(0deg,rgba(0,0,0,0.8),rgba(0,0,0,0.1)),url(<%= @section.sectionimage %>);
  background-position:center;
  min-height: 200px;
}

.sectionname{
   text-align: left; 
   color: white; 
   position: relative; 
   top: 75px; 
   font-weight: 500; 
   font-size: 30px; 
   text-shadow: 1px 0px 6px rgba(0, 0, 0, 1);
}

.sectiondescrip{
	text-align: left; 
   color: white; 
   position: relative; 
   top: 80px; 
   font-weight: 300; 
   font-size: 18px; 
}

</style>

<section class="aduins">
  <div class="container">
    <div class="row" style="margin-top: 50px">
      <div class="col-lg-12">
        <h1 class="sectionname" style=""><%= @section.name %></h1>
        <p class="sectiondescrip"><%= @section.description %></p>
      </div>
    </div>
  </div>
</section>

<section class="sectionbody">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-12">
				<div class="descriphold">
        </div>
			</div>
			<div class="col-lg-5 col-md-12">
        <div class="ctahold">
        </div>
			</div>
		</div>
	</div>
</section>




















