<div class="container">
<div class="row justify-content-center" style="margin-top: 80px;">
  <div class="col-md-6 col-md-offset-3">
<div class="holdformsi">
<h2 style="text-align: center; font-family: 'Poppins', sans-serif;">Fill with your details</h2>
<p style="text-align: center; color: #28a745;">Fill this form with your full name and active email</p>
  <%= render 'form', course: @course %>

</div>
</div>
</div>

</div>
