    <style type="text/css">

     .foothead{
      color: white;
     }

     .page-footer{
      background:linear-gradient(0deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(https://res.cloudinary.com/nikasemo/image/upload/v1509525706/digireg_mnpncv.jpg);
      background-position:center;
     }

    </style>


    <footer class="py-5 bg-dark page-footer">
      <div class="container">
        <div class="row">
        <div class="col-lg-3">
          <div class="innerfooter">
            <h5 class="foothead">About Us</h5>
            <ul style="list-style:none; padding-left:0;">
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Overview</a></li>
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Staff</a></li>
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Board of Directors</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="innerfooter">
            <h5 class="foothead">Top Products</h5>
            <ul style="list-style:none; padding-left:0;">
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Have a Website</a></li>
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Digital Marketing</a></li>
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">SEO</a></li>
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Social Media Marketing</a></li>
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Email Marketing</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="innerfooter">
            <h5 class="foothead">Support</h5>
            <ul style="list-style:none; padding-left:0;">
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">
            
            </a></li>
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">FAQ's</a></li>
            <li><a href="" style="color: white; font-weight: 300; font-size: 14px; text-decoration:none;">Terms and Conditions</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="innerfooter">
             <h5 class="foothead">Visit Our Social Media</h5>
             <span><a href=""><i class="fa fa-facebook-official fa-2x" style="color: white; margin-right: 5px;" aria-hidden="true"></i></a></span>
             <span><a href=""><i class="fa fa-twitter-square fa-2x" style="color: white; margin-right: 5px;" aria-hidden="true"></i></a></span>
             <span><a href=""><i class="fa fa-instagram fa-2x" style="color: white; margin-right: 5px;" aria-hidden="true"></i></a></span>
             <span><a href=""><i class="fa fa-google-plus-square fa-2x" style="color: white; margin-right: 5px;" aria-hidden="true"></i></a></span>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 30px;">
        <div class="col-sm-12">
        <p class="m-0 text-center text-white">Copyright &copy; Help Ghanaian Businesses, 2017</p>
      </div>
    </div>
      </div>
      <!-- /.container -->
    </footer>